.location-box {
  .location {
    color: $white;
    font-size: 3.2rem;
    font-weight: 300;
    text-align: center;
    text-shadow: 0.3rem 0.3rem rgba(50, 50, 70, 0.5);
  }

  .date {
    color: $white;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    text-shadow: 0.3rem 0.3rem rgba(50, 50, 70, 0.5);
  }
}
